<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.enstudy.demo.dao.ExciseMapper">
  <resultMap id="BaseResultMap" type="com.enstudy.demo.pojo.Excise">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="questionType" jdbcType="VARCHAR" property="questiontype" />
    <result column="rightAnswer" jdbcType="VARCHAR" property="rightanswer" />
    <result column="selecta" jdbcType="VARCHAR" property="selecta" />
    <result column="selectb" jdbcType="VARCHAR" property="selectb" />
    <result column="selectc" jdbcType="VARCHAR" property="selectc" />
    <result column="selectd" jdbcType="VARCHAR" property="selectd" />
    <result column="exlog" jdbcType="VARCHAR" property="exlog" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id,
    title,
    questionType,
    rightAnswer,
    selecta,
    selectb,
    selectc,
    selectd,
    exlog,
    created_at,
    updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from excise
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from excise
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.enstudy.demo.pojo.Excise">
    insert into excise
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="questiontype != null">
        questionType,
      </if>
      <if test="rightanswer != null">
        rightAnswer,
      </if>
      <if test="selecta != null">
        selecta,
      </if>
      <if test="selectb != null">
        selectb,
      </if>
      <if test="selectc != null">
        selectc,
      </if>
      <if test="selectd != null">
        selectd,
      </if>
      <if test="exlog != null">
        exlog,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="questiontype != null">
        #{questiontype,jdbcType=VARCHAR},
      </if>
      <if test="rightanswer != null">
        #{rightanswer,jdbcType=VARCHAR},
      </if>
      <if test="selecta != null">
        #{selecta,jdbcType=VARCHAR},
      </if>
      <if test="selectb != null">
        #{selectb,jdbcType=VARCHAR},
      </if>
      <if test="selectc != null">
        #{selectc,jdbcType=VARCHAR},
      </if>
      <if test="selectd != null">
        #{selectd,jdbcType=VARCHAR},
      </if>
      <if test="exlog != null">
        #{exlog,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="HashMap">
    update excise
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="questiontype != null">
        questionType = #{questiontype,jdbcType=VARCHAR},
      </if>
      <if test="rightanswer != null">
        rightAnswer = #{rightanswer,jdbcType=VARCHAR},
      </if>
      <if test="selecta != null">
        selecta = #{selecta,jdbcType=VARCHAR},
      </if>
      <if test="selectb != null">
        selectb = #{selectb,jdbcType=VARCHAR},
      </if>
      <if test="selectc != null">
        selectc = #{selectc,jdbcType=VARCHAR},
      </if>
      <if test="selectd != null">
        selectd = #{selectd,jdbcType=VARCHAR},
      </if>
      <if test="exlog != null">
        exlog = #{exlog,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER} and updated_at = #{previousUpdatedAt,jdbcType=TIMESTAMP}
  </update>
 
  <select id="listPageExcise" parameterType="HashMap" resultType="HashMap">
    SELECT
        t.id id,
        t.title title,
        t.rightAnswer rightanswer,
        t.selecta selecta,
        t.selectc selectc,
        t.selectd selectd,
        DATE_FORMAT(t.`updated_at`, "%Y-%m-%d %H:%i:%s") as updatedAt
    FROM excise t
    WHERE 1=1
    <if test="title!=null">
      AND t.title LIKE '%${title}%'
    </if>
    order by
    <if test="orderColumn!=null">
      t.${orderColumn} <if test="orderType=='descending'">desc</if>,
    </if>
    t.id desc
  </select>

  
  <delete id="deleteExciseByIds">
    DELETE FROM excise
    WHERE id IN
    <foreach collection="array" open="(" separator="," close=")" item="one">
      #{one}
    </foreach>
  </delete>

  <select id="selectByTitle" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from excise
    where title = #{title,jdbcType=VARCHAR}
  </select>
  
  <select id="listValidExcise" parameterType="HashMap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from excise
  </select>
  
  <select id="listPageValidExcise" parameterType="HashMap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from excise
  </select>

</mapper>