@font-face {
  font-family: 'iconfont';  /* Project id 2620748 */
  src: url('//at.alicdn.com/t/font_2620748_qxsz0v5c9pe.woff2?t=1636807997734') format('woff2'),
       url('//at.alicdn.com/t/font_2620748_qxsz0v5c9pe.woff?t=1636807997734') format('woff'),
       url('//at.alicdn.com/t/font_2620748_qxsz0v5c9pe.ttf?t=1636807997734') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
}
