.recite-middle{
    padding: 5px;
}
.recite-card{
    display: flex;
    justify-content: center;
}
    

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.text {
    font-size: 14px;
}

.item {
    margin-bottom: 18px;
}

.box-card {
    width: 700px;
}   