.header{
    height: 70px;
    width: 100%;
    margin: auto;
    background-color:antiquewhite;
    padding: 5px;
}

.body{
    background-color: rgb(255, 254, 253);
    flex-wrap: nowrap;
}

.tx_1{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.hd-1{
    position: absolute; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.img-head{
    padding: 5px;
}

.home-middle-1{
    width: 100%;
    height: 550px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    background-color: #475669;
}

.home-middle-space{
    height: 50px;
    background-color: brown;
}
.home-middle-2{
    background-color: #475669;
    margin-top: 20px;
    height: 300px;
    padding-left: 100px;
    padding-left: 100px;
    margin: 50px;
}

.home-middle-3{
    background-color: #475669;
    margin-top: 20px;
    height: 400px;
    padding-left: 100px;
    padding-left: 100px;
    margin: 50px;
}

.ho-1{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    overflow:hidden;
    height: 300px;
    justify-content: center;
    align-items: center;
    
}

.ho-2{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    overflow:hidden;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.hom-li-1{

    display: flex;
    flex-direction: column;
    height: 250px;
    width: 300px;
    padding: 30px;
    margin: 10px;
    justify-content: center;
}
.hom-li-2{

    display: flex;
    flex-direction: column;
    height: 350px;
    width: 260px;
    padding: 30px;
    margin: 10px;
    justify-content: center;
}
.ho-li-1{
    overflow: hidden;
    width: 100%;
    height: 250px;
}
.ho-li-2{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.home-foot{
    height: 200px;
    width: 100%;
    padding-left: 300px;
    background-color: slategrey;
}

.le_1{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.cx-1{
    padding-top: 50px;
}

.cx-2{
    width: 100%;
    padding-top: 50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.el-carousel__item h3 {
    color: #475669;
    opacity: 0.75;
    line-height: 450px;
    margin: 0;
    text-align: center;
  }
  
  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }
  
  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }

  .flex-grow{
    flex-grow: 1;
}
