.user-con{
    display: flex;
    justify-content: center;
    
}

.user-aside{
    padding: 20px;
    width: 350px;
   
}

.user-main{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size:16px;

}

.user-main-1 {
    padding-top: 30px;
    padding-left: 30px;
}
.us-1{
    padding-top: 10px;
    display: flex;
}
.us-2{
    padding-bottom: 20px;
    width: 120px;
}
/* .user-middle{

} */

.demo-type{
    height: 500px;
}

.text {
font-size: 14px;
}

.item {
padding: 18px 0;
}

.user-contain{
    padding: 10px;
}

.user-box-card{
    background-color: #545c64;
}